<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="mailSettings">
      <section name="default" type="System.Net.Configuration.SmtpSection" />
      <section name="mailings" type="System.Net.Configuration.SmtpSection" />
      <section name="partners" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <mailSettings>
    <default deliveryMethod="Network">
      <network host="smtp.gmail.com" port="587" enableSsl="true" userName="xxxxx" password="xxxx" />
    </default>
    <mailings deliveryMethod="Network">
      <network host="smtp2.test.org" port="587" enableSsl="true" userName="test" password="test" />
    </mailings>
    <partners deliveryMethod="Network">
      <network host="smtp3.test.org" port="587" enableSsl="true" userName="test" password="test" />
    </partners>
  </mailSettings>
</configuration>